h1{
    font-family: 'Comic Neue', cursive;
    text-align: center;
    margin-top: 2em;
}

.input{
    font-family: 'Comic Neue', cursive;
    font-size: 1.1em;
    width: 19em; 
    height: 3em;
}

.inputx{
   text-align: center;
   margin-top: 2em;
}
 
.btn {
    position: relative;
    left: 1em;
    top : 0.25em;
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    transition: 0.6s;
}

.btn:hover {
    background-color:black;
    color:orange;
  }