body{
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);   
    background: linear-gradient(to right, #f7b733, #fc4a1a);  
}

h1{
    font-family: 'Comic Neue', cursive;
    text-align: center;
    margin-top: 2em;
}