body{
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);   
    background: linear-gradient(to right, #f7b733, #fc4a1a);  
}

h1{
    font-family: 'Comic Neue', cursive;
    text-align: center;
    margin-top: 2em;
}

.input{
    padding: 0.5em;
    width: 19em; 
}

.inputx{
   text-align: center;
   margin-top: 2em;
}
 
.btn {
    position: relative;
    left: 1em;
    top : 0.25em;
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    transition: 1s;
}

.btn:hover {
    background-color:black;
    color:orange;
  }

 